body {
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 5px;
    margin: 10px 10px;
}
h1{
    margin:2px;
}
div{
    background: #1B244A;
    max-width: 400px;
    color: #EEEEEE;
    padding: 15px 10px 20px 10px;
}
#home-num, #guest-num{
    background: black;
    padding: 20px;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    color: #F94F6D;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px
}
button{
    background: #1B244A;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 20px;
}